body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    background-color: rgb(0, 78, 66);
    color:#f4f4f4;
    font-size: 100px;
    margin-bottom: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.club {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    width: 45%;
}

h2 {
    color: rgb(0, 78, 66);
    font-size: 50px;
    margin-bottom: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: rgb(0, 78, 66);
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

a:hover {
    color: #2ecc71;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;    
}